.grid {
  display: grid;
    grid-template: 
    "... ............ ..." 15px
    "... topLeft      ..." 300px
    "... ............ ..." 15px
    "... topCenter    ..." 300px
    "... ............ ..." 15px
    "... topRight     ..." 300px
    "... ............ ..." 15px
    "... centerLeft   ..." 300px
    "... ............ ..." 15px
    "... centerCenter ..." 300px
    "... ............ ..." 15px
    "... centerRight  ..." 300px
    "... ............ ..." 15px
    "... bottomLeft   ..." 300px
    "... ............ ..." 15px
    "... bottomCenter ..." 300px
    "... ............ ..." 15px
    "... bottomRight  ..." 300px
    "... ............ ..." 15px
    / 15px 300px 15px
  ;
}

.topLeft {
  grid-area: topLeft;
}

.topCenter {
  grid-area: topCenter;
}

.topRight {
  grid-area: topRight;
}

.centerLeft {
  grid-area: centerLeft;
}

.centerCenter {
  grid-area: centerCenter;
}

.centerRight {
  grid-area: centerRight;
}

.bottomLeft {
  grid-area: bottomLeft;
}

.bottomCenter {
  grid-area: bottomCenter;
}

.bottomRight {
  grid-area: bottomRight;
}

.grid img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (min-width:480px) { 
  .grid {
    grid-template:
    "... ..........   ... ............ ..." 
    "... topLeft      ... topCenter    ..." 200px
    "... ..........   ... ............ ..." 20px
    "... topRight     ... centerLeft   ..." 200px
    "... ..........   ... ............ ..." 20px
    "... centerCenter ... centerRight  ..." 200px
    "... ..........   ... ............ ..." 20px
    "... bottomLeft   ... bottomCenter ..." 200px
    "... ..........   ... ............ ..." 20px
    "... bottomRight  ... ............ ..." 200px
    "... ..........   ... ............ ..."  
    / 20px 200px 20px 200px 20px ;
  }
}
@media screen and (min-width:768) and ( max-width:1024px) {
  .grid {
    grid-template:
    "... .......... ... ............ ... ........... ..." 
    "... topLeft    ... topCenter    ... topRight    ..." 250px
    "... .......... ... ............ ... ........... ..." 20px
    "... centerLeft ... centerCenter ... centerRight ..." 250px
    "... .......... ... ............ ... ........... ..." 20px
    "... bottomLeft ... bottomCenter ... bottomRight ..." 250px
    "... .......... ... ............ ... ........... ..."  
    / 20px 250px 20px 250px 20px 250px 20px ;
  }
}
@media screen and (min-width:1024px) {
  .grid {
    grid-template:
    "... .......... ... ............ ... ........... ..." 
    "... topLeft    ... topCenter    ... topRight    ..." 300px
    "... .......... ... ............ ... ........... ..." 20px
    "... centerLeft ... centerCenter ... centerRight ..." 300px
    "... .......... ... ............ ... ........... ..." 20px
    "... bottomLeft ... bottomCenter ... bottomRight ..." 300px
    "... .......... ... ............ ... ........... ..."  
    / 20px 300px 20px 300px 20px 300px 20px ;
  }
}