.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
  flex-direction: column;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease border-color 0.15s ease;
  animation: fadeIn 2s ease 0s 1 normal;
}

.card:hover,
.card:focus,
.card:active {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.description {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@keyframes fadeIn { 
  0% {opacity: 0} 
  100% {opacity: 1} 
}

@media screen and (min-width:480px) { 
  .grid {
    max-width: 500px;
    flex-direction: column;
  }
}

@media screen and (min-width:768) and ( max-width:1024px) {
  .grid {
    max-width: 700px;
    flex-direction: row;
  }
}

@media screen and (min-width:1024px) {
  .grid {
    max-width: 800px;
    flex-direction: row;
  }
}
