.p {
  font-size: 16px;
  padding: 16px;
  margin: 4px 8px;
  animation: fadeIn 3s ease 0s 1 normal;
}

@keyframes fadeIn { 
  0% {opacity: 0} 
  100% {opacity: 1} 
}

@media screen and (min-width:480px) { 
  .p {
    font-size: 16px;
    padding: 16px;
    margin: 4px 20px;
  }
}

@media screen and (min-width:768) and ( max-width:1024px) {
  .p {
    font-size: 20px;
    padding: 36px;
    margin: 36px 400px;
  }
}

@media screen and (min-width:1024px) {
  .p {
    font-size: 20px;
    padding: 36px;
    margin: 36px 400px;
  }
}
