.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.figure {
  border-radius: 4px;
  background-color: lightgray;
  line-height: 0;
}
.img {
  border-radius: 4px;
  animation: fadeIn 3s ease 0s 1 normal;
}
.img:hover {
  opacity: 0.7;
}

@keyframes fadeIn { 
  0% {opacity: 0} 
  100% {opacity: 1} 
}
