.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 0.7rem;
}

@media screen and (min-width:480px) { 
  .footer {
    height: 45px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width:768) and ( max-width:1024px) {
  .footer {
    height: 50px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width:1024px) {
  .footer {
    height: 55px;
    font-size: 1rem;
  }
}
